Proyecto-Final-Front-Repo/.vscode
Proyecto-Final-Front-Repo/.gitignore
Proyecto-Final-Front-Repo/node_modules

Proyecto-Final-RemoteRobot/node_modules
Proyecto-Final-RemoteRobot/.gitignore

Proyecto-Final-Server/node_modules
Proyecto-Final-Server/.gitignore